/*
***************************************
Component: Header
Author: Joimee
Description: Layout > Header
***************************************
*/

.header {
  background: $light-1;
  box-shadow: $shadow-1;

  .grid {
    height: rem(40);
    align-items: center;

    @include tablet-p {
      height: rem(50);
    }
  }

  &__brand {
    grid-column: 2 / 4;

    @include font('Bold');

    font-size: rem(16);
    line-height: rem(20);
    color: $primary;
    cursor: pointer;
  }

  &-buttons {
    grid-column: -5 / -2;

    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    @include flex-center;

    cursor: pointer;
  }

  &__btn:disabled {
    path {
      fill: $dark-3;
      stroke: $dark-3;
    }
  }

  &__btn > .icon svg {
    width: rem(25);
    height: rem(25);
  }
}
