/*
***************************************
Component: SongList
Author: Joimee
Description: Display list of songs
***************************************
*/

.song-list {
  &-header,
  &-body__item {
    display: grid;
    grid-template-columns: set-width(40, 300) set-width(151, 300) set-width(67, 300);
    grid-column-gap: rem(20);

    @include tablet-p {
      grid-template-columns: set-width(40, 640) set-width(480, 640) set-width(67, 640);
    }

    @include tablet-l {
      grid-template-columns: set-width(40, 910) set-width(752, 910) set-width(67, 910);
    }
  }

  &-header__item {
    @include font('Light');

    color: $dark-3;

    @include tablet-p {
      font-size: rem(18);
    }
  }

  &-body {
    margin-top: rem(30);

    display: flex;
    flex-direction: column;
  }

  &-body > &-body__item:not(:last-child) {
    margin-bottom: rem(30);
  }

  &__text {
    @include font('Light');

    color: $dark-3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: rem(16);
    line-height: rem(20);
    text-align: left;

    @include tablet-p {
      font-size: rem(18);
      line-height: rem(22);
    }
  }

  &__text--center {
    @include font();

    color: $dark-1--2;

    @include desktop {
      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }
  }

  &-body__item--active > &__text--center {
    color: $primary;
  }
}
