/*
***************************************
Component: Layout
Author: Joimee
Description: Base layout
***************************************
*/

.layout {
  padding-bottom: rem(97 + 20);

  @include tablet-p {
    padding-bottom: rem(107 + 20);
  }
}
