/*
***************************************
Component: Carousel
Author: Joimee
Description:
***************************************
*/

.carousel {
  height: rem(221);
  overflow: hidden;

  @include tablet-p {
    height: rem(260);
  }

  @include tablet-l {
    height: rem(500);
  }

  &-list {
    display: flex;
  }

  &__item {
    flex-shrink: 0;
    width: set-width(225, 300);
    height: 100%;
    user-select: none;
    pointer-events: none;
    overflow: hidden;

    @include tablet-p {
      width: set-width(444, 640);
    }

    @include tablet-l {
      width: set-width(680, 910);
      max-width: rem(500);
    }
  }

  &__item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .flickity-slider {
    height: rem(221);

    @include tablet-p {
      height: rem(260);
    }

    @include tablet-l {
      height: rem(500);
    }
  }

  .flickity-slider > &__item:not(:last-child) {
    margin-right: rem(10);
  }

  &__item--active {
    width: set-width(225, 300);
  }
}
