/*
***************************************
Component: Carousel
Author: Joimee
Description:
***************************************
*/

.carousel {
  height: rem(221);
  overflow: hidden;

  &-list {
    display: flex;
  }

  &__item {
    flex-shrink: 0;
    width: set-width(225, 300);
    height: 100%;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
  }

  &__item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .flickity-slider {
    height: rem(221);
  }

  .flickity-slider > &__item:not(:last-child) {
    margin-right: rem(10);
  }

  &__item--active {
    width: set-width(225, 300);
  }
}
