.category {
  & > * {
    grid-column: 2 / -2;
  }

  &__title {
    margin-top: rem(40);
    margin-bottom: rem(40);

    @include font('Bold');

    font-size: rem(24);
    line-height: rem(29);
    color: $primary;

    @include tablet-p {
      margin-top: rem(60);
      margin-bottom: rem(50);

      font-size: rem(32);
      line-height: rem(39);
    }
  }
}
