.home {
  & > * {
    grid-column: 2 / -2;
  }

  & > .search {
    margin-top: rem(40);
    margin-bottom: rem(40);

    @include tablet-p {
      grid-column: 3 / -3;
      margin-top: rem(60);
      margin-bottom: rem(60);
    }

    @include tablet-l {
      grid-column: 4 / -4;
    }
  }

  & > .song-list {
    margin-bottom: rem(40);
  }

  &-group {}

  &-group--categories {}

  &-group--sounds-of-the-week {
    margin-top: rem(60);

    @include tablet-l {
      margin-top: rem(80);
    }
  }

  &-group__title {
    margin-bottom: rem(20);

    @include font('Light');

    font-size: rem(21);
    line-height: rem(26);
    text-transform: lowercase;
    color: $dark-4;

    @include tablet-p {
      margin-bottom: rem(30);

      font-size: rem(26);
      line-height: rem(32);
    }
  }

  &-group--categories > &-group__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: rem(10);

    @include tablet-p {
      grid-template-columns: repeat(3, set-width(200, 640));
      grid-gap: rem(20);
    }

    @include tablet-l {
      grid-template-columns: repeat(4, set-width(220, 910));
      grid-gap: rem(10);
    }
  }

  &-group--sounds-of-the-week > &-group__content {
    @include tablet-p {
      display: grid;
      grid-template-columns: repeat(2, set-width(314, 638));
      grid-gap: rem(10);
    }

    @include tablet-l {
      grid-template-columns: repeat(3, set-width(294, 910));
      grid-gap: rem(10);
    }
  }

  &-group--sounds-of-the-week .play-card:not(:last-child) {
    margin-bottom: rem(20);

    @include tablet-p {
      margin-bottom: rem(0);
    }
  }
}
