.play-queue {
  & > * {
    grid-column: 2 / -2;
  }

  &__title {
    margin-top: rem(40);
    margin-bottom: rem(10);

    @include font('Bold');

    font-size: rem(24);
    line-height: rem(29);
    color: $primary;

    @include tablet-p {
      font-size: rem(32);
      line-height: rem(39);
    }

    @include tablet-l {
      margin-top: rem(60);
    }
  }

  &__author {
    margin-bottom: rem(30);

    @include font('Light');

    color: $primary;

    @include tablet-p {
      margin-bottom: rem(40);

      font-size: rem(18);
      line-height: rem(22);
    }
  }

  & > .carousel {
    margin-bottom: rem(60);
  }

  &__heading {
    margin-bottom: rem(30);

    @include font('Bold');

    font-size: rem(20);
    line-height: rem(24);
    color: $primary;

    @include tablet-p {
      font-size: rem(24);
      line-height: rem(29);
    }
  }
}
